<%- include ../../partials/header.ejs %>
<%- include ../../partials/navbar.ejs %>
<%- include ../../partials/sidebar.ejs %>

<div class="content-wrapper">
  <section class="content-header">
    <div class="container-fluid">
      <div class="row mb-2">
        <div class="col-sm-6">
          <h1>Jenis Pembayaran</h1>
        </div>
        <div class="col-sm-6">
          <ol class="breadcrumb float-sm-right">
            <li class="breadcrumb-item"><a href="/">Home</a></li>
            <li class="breadcrumb-item"><a href="/payment">Jenis Pembayaran</a></li>
            <li class="breadcrumb-item active">Tambah</li>
          </ol>
        </div>
      </div>
    </div>
  </section>

  <section class="content">
    <div class="container-fluid">
      <div class="row">
        <div class="col-12">
          <div class="card card-primary">
            <div class="card-header">
              <h3 class="card-title">Tambah Jenis Pembayaran</h3>
            </div>
            <form method="post" action="/payment/_create">
              <div class="card-body">
                <div class="form-group">
                  <label for="name">Tipe Pembayaran</label>
                  <input type="text" class="form-control" name="type" id="type" placeholder="Tipe Pembayaran">
                </div>
                <div class="form-group">
                  <div class="form-group">
                    <label>Bank</label>
                    <select class="form-control select2" multiple="multiple" data-placeholder="Pilih Bank" style="width: 100%;" name="banks" required>
                      <% bank.forEach(e => { %>
                        <option value="<%= e._id %>"><%= e.name %> - <%= e.nameBank %>  - No.Rek <%= e.noRekening %></option>
                      <% }) %>
                    </select>
                  </div>
                </div>
              </div>
              <div class="card-footer">
                <button type="submit" class="btn btn-primary">Simpan</button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>

<%- include ../../partials/footer.ejs %>
<%- include ../../partials/js.ejs %>